
body {
  text-align: center;
  background-color: rgb(0, 0, 100);
}

.container {
  background-color: rgb(219, 219, 253);
  margin-top: 1em;
  border-radius: 1em;
  padding: 1em;
}

label {
  margin-left: .5em;
  font-size: 1.2rem;
}

input {
  margin-left: 1em;
}

#next {
  display: none;
}

#quizForm {
  display:none;
}

#finalPage {
  display: none;
}

